.app-selection-node {
  padding: .05rem 0;
}

.app-selection-node > * {
  margin: 0 0.2rem;
}

.app-selection-node i {
  user-select: none;
}
.app-selection-node i:hover {
  cursor: pointer;
}

.app-tree-node {
  padding-left: 1rem;
}
