.app-selection-node {
  padding: .05rem 0;
}

.app-selection-node fieldset {
  margin: 0 0.2rem;
  border: none;
  display: inline;
  padding: 0.25rem;
}

.app-selection-node i {
  user-select: none;
  vertical-align: middle;
}
.app-selection-node i:hover {
  cursor: pointer;
}

.app-tree-node {
  padding-left: 1rem;
}

.app-phase-button {
  padding: .25rem .5rem;
  background-color: #eeeeee;
  border-radius: .25rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.app-phase-button.app-phase-selected {
  background-color: aquamarine;
}
